{% extends 'global/base.html' %}

{% block content %}



<section id="topo">
  {% for banner in banners %}
   <div style="background-image:url({{banner.imagem.url}})">

   </div>
  {% endfor %}
</section>
<section class="destaque">
  <h2>DESTAQUE DO MÊS</h2>
    <img>
    <ul>
        <li>
            <h3></h3>
            <div></div>
            <p></p>
        </li>
        <li>
            <h3></h3>
            <div></div>
            <p></p>
        </li>
        <li>
            <h3></h3>
            <div></div>
            <p></p>
        </li>
        <li>
            <h3></h3>
            <div></div>
            <p></p>
        </li>
    </ul>
</section>
<section class="estoque">
  <h1></h1>
  <p></p>
    <div class="listaEstoque">
      {% for carro in carros  %}
        <div class="carro">
            <div class="carroBarra"></div>
            <div class="tituloCarro">
                <h2>{{carro.carro_modelo}} {{carro.motor}} {{carro.ano}}</h2>
            </div>
            <div class="imagemCarro">
                <img src="{{carro.picture.url}}">
            </div>
            <div class="infoCarro">
                <div class="valorCarro">
                    <p class="precoCarro">{{carro.valor}}</p>
                    <p>{{carro.valor_description}}</p>
                </div>
                <div class="ctaCarro">
                    <a href="#" class="whats">WhatsApp</a>
                    <a href="" class="local">Visite nossa loja</a>
                </div>
            </div>
        </div>
      {% endfor %}
        
    </div>
  <a href="#" class="mostrarMais">Mostrar mais</a>
</section>


{% endblock %}