{% extends 'global/base.html' %}

{% block content %}



<section id="topo" class="mainFont">
  {% for banner in banners %}
   <div style="background-image:url('{{banner.imagem.url}}');">
       <div class="container">
        <h1>{{banner.titulo}}</h1>
        <p>{{banner.texto}}</p>
       </div>
   </div>
  {% endfor %}
</section>

<section class="estoque">
  <h1></h1>
  <p></p>
    <div class="listaEstoque">
      <div class="container">
        <div class="row">
          {% for carro in carros  %}
            {% if carro.picture %}
            <div class="carro">
                <div class="carroBarra">

                </div>
                <a href="carro/{{carro.slug}}">
                  <div class="tituloCarro">
                      <h2>{{carro.carro_modelo}} {{carro.motor}} {{carro.ano}}</h2>
                  </div>
                  <div class="imagemCarro">
                      {% if carro.picture %}
                      <img src="{{carro.picture.url}}" />
                      {% endif %}
                  </div>
                </a>
                <div class="infoCarro">
                    <div class="valorCarro">
                        <p class="precoCarro">{{carro.valor}}</p>
                        <p>{{carro.valor_description}}</p>
                    </div>
                    <div class="ctaCarro">
                        <a href="https://wa.me/5548998114134" class="whats">WhatsApp</a>
                        <a href="carro/{{carro.slug}}" class="local">Veja Mais</a>
                    </div>
                </div>
            </div>
            {% endif %}
          {% endfor %}
        </div>
      </div> 
    </div>
  <!-- <a href="#" class="mostrarMais">Mostrar mais</a> -->
</section>


{% endblock %}